{% extends "food_doner/base.html" %}
{% block content %}
{% load static %}

<div class="gtco-loader"></div>
	
	<div id="page">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<a href="#">

								<img src='{% static "images/slider_1.jpg" %}' alt="Free Website Template by FreeHTML5.co">
								<div class="slider-copy">
									
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<img src='{% static "images/slider_2.jpg" %}' alt="Free Website Template by FreeHTML5.co">
								<div class="slider-copy">
								
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<img src='{% static "images/slider_3.jpg" %}' alt="Free Website Template by FreeHTML5.co">
								<div class="slider-copy">
									
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>Why is "care for dogs"?</h2>
						<p>In our city we all can see there are lots of dogs in our area. They not only live in our area but also watch over the area too. At night whenever we sleep in peace with the community police these dogs also help the police to watch over the area. But these stray dogs don’t get to eat properly. Most of the time they eat from dustbins. Sometimes some kind people give them food but that is also very limited. But due to Covid - 19 crisis people are not going out, shops are off, and for this situation these dogs are facing food problem. So, if we can collect food for these stray dogs they can live and keep helping us by protecting our areas</p>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="owl-carousel owl-carousel-carousel">
							<div class="item">
								<div class="gtco-item">
									<a href="#"><img src='{% static "images/img_1.jpg" %}' alt="" class="img-responsive"></a>
									<h2><a href="#">Food Donate Request</h2></a>
									<p class="role"> Donor</p>
								</div>
							</div>
							<div class="item">
								<div class="gtco-item">
									<a href="#"><img src='{% static "images/img_2.jpg" %}' alt="" class="img-responsive"></a>
									<h2><a href="#">pickup Foods</h2></a>
									<p class="role">Volunteer</p>
								</div>
							</div>
							<div class="item">
								<div class="gtco-item">
									<a href="#"><img src='{% static "images/img_3.jpg" %}' alt="" class="img-responsive"></a>
									<h2><a href="#">food destination</h2></a>
									<p class="role">selected area</p>
								</div>
							</div>

							
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- END Work -->

		<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-6 gtco-news">
						<h2></h2>	
						<ul>
							<li>
								<a href="#">
									<span class="post-date"> </span>
									<h3>Be a proud Donor</h3>
									<p>'We all live for others' this a very famous poverb. But apart from this, this statement is very true in our life too. Animals are the part of our nature and they help us in many ways. So taking care of them is our moral duty.
										If you can help us by donating food or money for the 'stray dogs' it would be so kind of you.</p>
								</a>
							</li>

							<li>
								<a href="#">
									<span class="post-date"></span>
									<h3>Be a proud volunteer</h3>
									<p>If you like to help others, if you want serve this society with your work, this can be a platform for you. 
										Join our team as a volunteer. Let's make the society better together. </p>
								</a>
							</li>

			
						</ul>
	
					</div>
					<!-- END News -->
					<div class="col-md-5 col-md-push-1 gtco-testimonials">
						<h2>What "care for dogs" does?</h2>
						<blockquote>
							<p>&ldquo;
								A platform where you can call us for donating food or money for buying food. Our food collecting team will collect those foods and store them in our store house. Then with the data of the city corporation we will distribute these foods among these stray dogs&ldquo;</p>
							<p class="author"><cite>&mdash;Nawrin Islam</cite></p>
						</blockquote>

					</div>
				</div>
			</div>
		</div>
		<!-- END  -->


		<footer id="gtco-footer" class="gtco-section" role="contentinfo">
			<div class="gtco-container">
				<div class="row row-pb-md">
					<div class="col-md-4 gtco-widget gtco-footer-paragraph">
						<h3>Care For Dogs</h3>
						<p>A platform where you can call us for donating food or money for buying food. Our food collecting team will collect those foods and store them in our store house. Then with the data of the city corporation we will distribute these foods among these stray dogs.</p>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-6 gtco-footer-link">
								<h3>Links</h3>
								<ul class="gtco-list-link">
									<li><a href="#">Home</a></li>
									<li><a href="#">Donor List</a></li>
									<li><a href="#">Volunteer List</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-6 gtco-footer-link">
								<h3>Team </h3>
								<ul class="gtco-list-link">
									<li><a href="#">Ragib Shahriar</a></li>
									<li><a href="#">Nawrin Islam</a></li>
									<li><a href="#">Adnannhmed Sany</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</footer>
		<!-- END footer -->

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>


{% endblock content %}