{% extends "food_doner/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="from-group">
                <legend class="border-bottom mb-4">Create a Post</legend>
                {{ form | crispy }}

            </fieldset>
            <div class="from-group">
                <button class="btn btn-outline-info" type="submit">Submit Post</button>
            </div>
        </form>

    </div>

{% endblock content %}